* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    position: relative;

}

.Products {
    display: flex;
    align-items: center;
    position: relative;
    width: 70%;
    height: 100%;
    margin: 50px auto;
    padding: 40px 0 0;
    box-sizing: border-box;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
        width: 30%;
        border-radius: 20px;
        flex-direction: column;
        position: relative;
        transform: scale(.9);
        transition: all .3s ease-in-out;
        margin-bottom: 50px;

        h2 {
            text-align: center;
            font-size: 18px;
        }

        p {
            font-size: 14px;
            text-align: center;
            color: rgba(black, .6);
            margin: 8px 0;
        }

        .price {
            font-size: 25px;
            color: darkblue;

            span {
                font-size: 15px;
                display: inline-block;
                vertical-align: top;
            }
        }

        .card-img {
            margin-top: -4vh;

            img {
                height: 360px;
                width: 300px;
                object-fit: cover
            }
        }


    }

    .card:hover {
        background-color: rgb(190, 228, 241);
        transform: scale(1.1);
        cursor: pointer;
    }

    .card:hover {
        .btnp {
            background-color: #dd62f8;
            color: darkblue;
        }

    }

    .btnp {
        width: 130px;
        height: 35px;
        font-size: 14px;
        border-radius: 35px;
        background-color: (#E2889E);
        color: black;
        cursor: pointer;
        position: relative;
        transition: backgroud-color .3s ease;
        align-items: center;
        display: flex;
        overflow: hidden;
        padding-left: 20px;
        margin-left: 100px;
    }
}